#code {
    width: 550px;
}

span {
    color: yellowgreen;
}

h1 {
    background-color: #f1f1f1;
    text-align: center;
    /* hex colors can be shortened to 3 digits if each pair is the same */
    /* e.g. #cc55ee can be written as #c5e */
    letter-spacing: 3px;
}

/* pseudo classes */
h1:hover {
    letter-spacing: 10px;
}

h2 {
    background-color: rgb(241, 241, 241);
    font-weight: 400;
}

thead {
    text-align: left;
    text-decoration: red underline wavy;
    /* if a font is unlikely to be built in to a browser/OS, you can list the order of
    preference for other fonts */
    /* e.g. if Verdana isn't available on a Mac, Futura will be used */
    /* this can also be done with serif, sans serif, fantasy, etc. */
    font-family: Verdana, Futura, Arial;
}

ol {
    line-height: 2;
}

/* descendant selector; in this case, all <a>'s nested in an <li> */
li a {
    color: blue;
}

/* all buttons preceded by an input */
input + button {
    background-color: orange;
}

/* all labels that are direct descendants of a <div> */
div > label {
    text-decoration: purple underline dashed;
}

input[type="password"] {
    color: rgb(143, 55, 202);
}

/* pseudo class */
tr:nth-of-type(2n) {
    background-color: #e6e6e6;
}

/* pseudo elements */
h2::first-letter {
    font-size: 28px;
}

/* changes the h1 background to purple when you select */
h1::selection {
    background-color: rgb(71, 4, 71);
}

/* The order that styles appear matters. Cascade > the first style will appear but it will
be overwritten if the same selector is styled to something else  */

/* Specificity
    - how the browser decides which rules to apply when multiple rules could apply to the 
      same element
    - the more specific selector in any case will win out
        - ID > Class > Element
        - if you want something to win out over everything else, you can put !important
            at the end
*/

/* CSS Inheritance
    - Child data types can inherit styles from parent data types
    - Ex. setting the body color to purple will make most elements purple
        - Some don't inherit styles by default like buttons and inputs
        - You can force them to inherit styles by using data type: inherit;
*/